<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sgh.swinburne.heartplus"
    android:theme="@android:style/Theme.Holo">
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.sgh.swinburne.heartplus.app.AppController"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.Holo">

        <!-- Splash Screen -->
        <activity
            android:name="com.sgh.swinburne.heartplus.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:label="@string/app_name"
            android:name="com.sgh.swinburne.heartplus.MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Profile Activity -->
        <activity android:name="com.sgh.swinburne.heartplus.ProfileActivity" ></activity>

        <!-- Feedback Activity -->
        <activity android:name="com.sgh.swinburne.heartplus.FeedbackActivity"></activity>

        <!-- Medical Charts Activity -->
        <activity android:name="com.sgh.swinburne.heartplus.MedicalChartActivity"></activity>

        <!-- INR Activity -->
        <activity android:name="com.sgh.swinburne.heartplus.INRActivity1"></activity>
        <activity android:name="com.sgh.swinburne.heartplus.INRActivity"></activity>

        <!-- Glucose Activity -->
        <activity android:name="com.sgh.swinburne.heartplus.GlucoseActivity"></activity>

        <!-- Glucose Activity -->
        <activity android:name="com.sgh.swinburne.heartplus.BPActivity"></activity>

        <!-- Heart Rate Activity -->
        <activity android:name="com.sgh.swinburne.heartplus.HeartRateActivity"></activity>

        <!-- Graph Activity -->
        <activity android:name="com.sgh.swinburne.heartplus.Graph_View"></activity>

        <!-- Edit Pill Activity -->
        <activity android:name="com.sgh.swinburne.heartplus.EditPill"></activity>

        <!-- New Pill Activity -->
        <activity android:name="com.sgh.swinburne.heartplus.NewPillActivity"></activity>

        <!-- <activity
             android:name=".MainActivity"
             android:label="@string/app_name">
         </activity> -->
            <!-- android:launchMode="singleTop" /> -->

       <!-- <activity
            android:name="com.sgh.swinburne.heartplus.MainActivity"
            android:label="@string/app_name" >
        </activity> -->

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />





        <activity android:name=".appointment.AppointmentListActivity"></activity>
        <activity android:name=".appointment.AppointmentEditActivity"/>
        <activity android:name=".appointment.TaskPreferences"/>
        <receiver android:name=".appointment.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".appointment.AlarmReceiver" />
        <service android:name=".appointment.AppointmentServices" />



        <activity android:name=".pillreminder.PillListActivity"/>
        <activity android:name=".pillreminder.ConfirmActivity"/>
        <activity android:name=".pillreminder.PillEditActivity"/>
        <activity android:name=".pillreminder.TaskPreferences"/>
        <receiver android:name=".pillreminder.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".pillreminder.OnAlarmReceiver" />
        <service android:name=".pillreminder.PillService" />



    </application>

</manifest>
